 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Mi Espacio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link"  href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="/characters">Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/logout">logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div style="text-align: center; justify-content: center;">
        <h1 style="color: #ffffff; font-weight: 900; margin-top:25px;">Bienvenido {{user.username}}</h1>
 


{{#each user.favorites}}
<br>
<br>
<img src={{thumbnail}} alt={{title}}>
<p style="color: #ffffff; margin-top:25px;">{{apiId}}</p>
<p style="color: #ffffff; font-weight:900;">{{title}}</p>
<p style="color: #ffffff;">{{genre}}</p>
<p style="color: #ffffff;">{{platform}}</p>
<p style="color: #ffffff;">{{developer}}</p>
<p style="color: #ffffff;">{{release_date}}</p>
<p style="color: #ffffff;">{{short_description}}</p>
<p style="color: #ffffff;">{{freetogame_profile_url}}</p>

{{!-- puntuación --}}
<div>
  <div >
    <form action="/ratings" method="POST">
        <h3 class="bi bi-controller"  onclick="calificar(this)" id="1{{_id}}" style="cursor: pointer; display: inline; color: #ffffff;"></h3>
        <h3 class="bi bi-controller"  onclick="calificar(this)" id="2{{_id}}" style="cursor: pointer; display: inline; color: #ffffff;"></h3>
        <h3 class="bi bi-controller"  onclick="calificar(this)" id="3{{_id}}" style="cursor: pointer; display: inline; color: #ffffff;"></h3>
        <h3 class="bi bi-controller"  onclick="calificar(this)" id="4{{_id}}" style="cursor: pointer; display: inline; color: #ffffff;"></h3>
        <h3 class="bi bi-controller"  onclick="calificar(this)" id="5{{_id}}" style="cursor: pointer; display: inline; color: #ffffff;"></h3>
        <input id="scoreInput" type="hidden" name="score"></input>
        <input value="{{apiId}}" type="hidden" name="apiId"></input>
          <br>
          <br>
       <button class="btn btn-primary" type="submit">Calificar</button>
    </form>
  </div>
  </div>
<script>
  let contador;
  function calificar(item) {
    contador =item.id[0]; // captura el primer caracter
    let nombre = item.id.substring(1); // 4 'estrella ' captura todo menos el primer caracter
    
    for(let i = 0; i < 5; i++) {
    console.log(i);
      if(i< contador) {
        document.getElementById((i+1) + nombre).style.color="orange";
      } else {
        document.getElementById((i+1) + nombre).style.color="#ffffff";
      }
    }
    document.getElementById("scoreInput").value = contador;
  }


</script>
{{!-- puntuación --}}

{{!-- boton de borrar --}}
<form action = "/delete-favorite" method="POST">
    <input type="hidden" name="id" value={{_id}}>
  <br>
  <br>  
<button type="submit">borrar favorito</button>
</form>
{{!-- boton de borrar --}}
{{/each}}
      </div>



