 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Games</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link"  href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/characters">Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
              <li><form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form></li>
            </ul>
          </div>
        </div>
      </nav>
<div class='container'>
  <h1>Games list</h1>
  <div class='row row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 my-5'>
  {{!-- image name status --}}
    {{#each characters}}
    <div class='col'>
      <div class='card shadow-sm'>
        <img src="{{thumbnail}}" alt="">
        <p>{{title}}</p>
        <p>{{characters.id}}</p>
        <form action="/add-favorite" method="POST">
          
          <input type="hidden" name="title" value="{{title}}">
          <input type="hidden" name="short_description" value="{{short_description}}">
          <input type="hidden" name="genre" value="{{genre}}">
          <input type="hidden" name="game_url" value="{{game_url}}">
          <input type="hidden" name="apiId" value="{{id}}">
          <input type="hidden" name="thumbnail" value="{{thumbnail}}">
          <input type="hidden" name="platform" value="{{platform}}">
          <input type="hidden" name="developer" value="{{developer}}">
          <input type="hidden" name="release_date" value="{{release_date}}">
          <input type="hidden" name="freetogame_profile_url" value="{{freetogame_profile_url}}">

          <button type="submit">Añadir a favoritos</button>
        </form>
      </div>
    </div>
    {{/each}}    
  </div>
</div>